{{ define "title" }}Register{{ end }}
{{ define "main" }}
    <h2>Register page</h2>
    <form hx-post="/register">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" {{if .Username}} value="{{.Username}}" {{end}}> 
        {{if .UsernameError}}
            <p class="error">{{.UsernameError}}</p>
        {{end}}

        <label for="name">Name</label>
        <input type="text" name="name" id="name" {{if .Name}} value="{{.Name}}" {{end}}> 
        {{if .NameError}}
            <p class="error">{{.NameError}}</p>
        {{end}}

        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" id="nickname" {{if .Nickname}} value="{{.Nickname}}" {{end}}> 
        {{if .NicknameError}}
            <p class="error">{{.NicknameError}}</p>
        {{end}}

        <label for="password1">Password</label>
        <input type="password" name="password1" id="password1" {{if .Password}} value="{{.Password}}" {{end}}> 
        {{if .Password1Error}}
            <p class="error">{{.Password1Error}}</p>
        {{end}}

        <label for="password2">Repeat your Password</label>
        <input type="password" name="password2" id="password2"> 
        {{if .Password2Error}}
            <p class="error">{{.Password2Error}}</p>
        {{end}}

        <button type="submit">Register</button>
    </form>
{{ end }}
