{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}} - Hercules</title>
    <link rel="stylesheet" href="/public/css/global.css" />
    <script src="/public/js/htmx.min.js"></script>
</head>

<body
    hx-target="#main-content"
    hx-swap="innerHTML"
>
    <header>
        <h1>Header</h1>
    </header>
    <main id="main-content">
        {{template "main" .}}
    </main>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>

</html>
{{end}}
